body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.todo{
   
    display: flex;
    flex-direction: column;
    
}
select{
    width: 100%;
    
    padding: 8px;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
    outline: none;
    border: none;
    
}
select:focus{
    border: none;
    outline: none;
}



.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 2px solid #2dc9e8;
    border-radius: 4px;
    box-sizing: border-box;
    height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.error {
    color: red;
}

.container-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    margin: 0;
    padding: 0;
}
.addTask{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    border-bottom: 2px solid blue;

    padding-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.taskDone h5{
    text-decoration: line-through;
}
.button{
    width: 80px ;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.currentTask{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
    border: 2px solid rgb(0, 174, 255);
    background-color: violet;
    padding: 0px 20px;
    border-radius: 10px;
    justify-content: space-between;
}
.main{
    width: 600px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    
}
.filter{
    width: 800px;
    margin: 5px 0 15px 0;
    padding: 0px 5px;
    border: 2px solid #2dc9e8;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.mButton{
    width: 200px;
    height: 35px;
    margin: 5px 0 15px 0;
    padding: 0px 5px;
    border: 2px solid #2dc9e8;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.checkboxAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header-main {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(82, 81, 81);
    text-decoration: underline;
  }
  
